<h1>Importar</h1>
<%= flash[:notice] %>
<br>
<br>

<%= form_tag '/pessoas/processar', multipart: true do %>
  <%= file_field_tag 'arquivo' %>
  <br>
  <br>
  <div><%= submit_tag 'Importar' %></div>
<% end %>